.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
      display: flex;
      .arrow {
          cursor: pointer;
      }
      .value {
          margin: 0 10px;
      }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
@media (max-width: 600px){
  .checkout-item {
    padding:5px;
    justify-content: space-between;
    align-items: stretch;
    font-size: 18px;
    align-items: center;
    min-height: 80px;
    .image-container {
      width: 14%;
      height: 50px;
      padding-right: 0;
    }
    .name,
    .quantity,
    .price {
      width: auto;
    }
    .remove-button {
      padding-left: 10px;
      margin-right: 5px;
    }
  }
}